@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: inline-block;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

main {
    width: 440px;
    height: 100vh;
    background-color: gray;
    padding: 36px;
}
